#logo-container {
	height: 100px;
	padding: 10px 0px;
}
header, main, footer {
	padding-left: 240px;
}
a.button-collapse.top-nav {
	position: absolute;
	text-align: center;
	height: 48px;
	width: 48px;
	left: 0;
	top: 0;
	float: none;
	margin-left: 0px;
	color: #fff;
	font-size: 32px;
	z-index: 2;
}
.fixed-action-btn {
	bottom: 60px;
	right: 10px;
}
.code-wrapper {
	overflow: auto;
}
table.responsive-table thead {
	width: 35%;
}
i.small {
	vertical-align: middle;
}
main {
	padding-top: 40px;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
.pagination {
    width: 255px;
    margin: 15px auto;
}
footer.page-footer {
	margin-top: 0px;
	padding-top: 0px;
}
footer.page-footer .footer-copyright {
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(51, 51, 51, 0.08);
}
#side-nav-log-out {
	display: inline;
}
#side-nav-log-out-wrapper {
	padding: 0px 30px
}
#top-nav-log-out-wrapper {
	padding: 0px 15px;
}
#top-nav-log-out-wrapper a {
	padding: 0px
}
.dropdown-content {
    min-width: 140px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
	.dropdown-content {
        min-width: 50px;
    }
    .dropdown-content li > a {
        padding: 1em 0em;
    }
}
	nav .nav-wrapper {
		text-align: center;
	}
thead {
	font-weight: bold;
}
