<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>pastedit</title>

	<!-- CSS  -->
	<link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/bin/materialize.css">
</head>
<body>
<header>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
      <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
            <img src="http://www.amarello.com.mx/images/amarello.png"></a></li>
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
      </ul>
    </header>
	<!--  Scripts-->
	<main></main>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../node_modules/materialize-css/bin/materialize.js"></script>

</body>
</html>
