<!DOCTYPE html>
<html>
<head>
  <title>Búsqueda</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/bin/materialize.css">
  <link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
  <header>
    <nav class="top-nav blue darken-1">
      <div class="container">
      <div class="nav-wrapper"><a class="page-title">Buscar Códigos</a></div>
      </div>
    </nav>
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu"></i></a></div>
    <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
      <li class="logo center">
        <a id="logo-container" href="#" class="brand-logo">
          <img src="http://www.amarello.com.mx/images/amarello.png">
        </a>
      </li>
      <li class="bold"><a href="agregar-codigo.html" class="waves-effect waves-light">Agregar Código</a></li>
      <li class="bold"><a href="mis-codigos.html" class="waves-effect waves-light">Mis Códigos</a></li>
      <li class="bold"><a href="busqueda.html" class="waves-effect waves-light">Buscar</a></li>
      <li class="bold"><a href="login.html" class="waves-effect waves-light">Cerrar Sesión</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <div class="section">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <select id="filtro">
                  <option value="0">Todo</option>
                  <option value="1">Título</option>
                  <option value="2">Lenguaje</option>
                  <option value="3">Código</option>
                </select>
                <label>Buscar por...</label>
              </div>

              <div class="input-field col s6">
                <input id="termino" type="text">
                <label for="buscar">Buscar...</label>
              </div>

              <div class="input-field col s3">
                <button class="btn waves-effect waves-light light-blue darken-4" id="buscarButton">
                  <i class="mdi-action-search tiny"></i>
                  <span> Buscar</span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div id="codigos" class="">
          </div>
        </div>

        <ul class="pagination hide">
          <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
          <span id="pages"></span>
          <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
        </ul>

      </div>

      <div class="section">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large light-blue darken-4">
            <i class="large mdi-editor-mode-edit"></i>
          </a>
          <ul>
            <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer blue darken-1">
    <div class="footer-copyright">
      <div class="container center">
        © 2015 Fancy Software.
      </div>
    </div>
  </footer>

  <div class="hide" id="codigo-template">
    <div class="codigo">
      <div class="col s12">
        <span class="col s6 titulo">
          <strong>Título: </strong>
        </span>
        <span class="col s6 lenguaje">
          <strong>Lenguaje: </strong>
        </span>
      </div>
      <div class="col s12 input-field code-wrapper">
        <span><strong>Preview:</strong></span>
        <pre><code></code></pre>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../node_modules/materialize-css/bin/materialize.js"></script>
  <!-- Syntax highlighting -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/busqueda.js"></script>
</body>
</html>